.selectedanchor{ /*CSS class that gets added to the currently selected anchor link (assuming it's a text link)*/
/* commented out cuz it's not needed */
/*background: #004b8e;*/
}

/* ######### Default class for drop down menus ######### */

.anylinkmenu{
position: absolute;
left: 0;
top: 0;
visibility: hidden;
border: 1px solid black;
border-bottom-width: 0;
font: normal 12px Verdana;
line-height: 18px;
z-index: 100; /* zIndex should be greater than that of shadow's below */
background: #004b8e; /* original: lightyellow */
width: 200px; /* default width for menu */

filter:alpha(opacity=95);opacity:.9; /* transparency of the hover menu, makes it look a bit prettier */

/* rounded borders, makes things less pointy and dangerous: */
-moz-border-radius: 15px;
border-radius: 15px;

}

.anylinkmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.anylinkmenu ul li a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid black;
padding: 2px 0;
text-decoration: none;
font-weight: bold;
text-indent: 5px;
color:white;

/* rounded borders, makes things less pointy and dangerous: */
-moz-border-radius: 15px;
border-radius: 15px;
}

.anylinkmenu a:hover{ /*hover background color*/
background: black;
color: white;

/* rounded borders, makes things less pointy and dangerous: */
-moz-border-radius: 15px;
border-radius: 15px;
}

/* ######### Alternate multi-column class for drop down menus ######### */


.anylinkmenucols{
position: absolute;
width: 350px;
left: 0;
top: 0;
visibility: hidden;
border: 1px solid black;
padding: 10px;
font: normal 12px Verdana;
z-index: 100; /*zIndex should be greater than that of shadow's below*/
background: #E9E9E9;
}

.anylinkmenucols li{
padding-bottom: 3px;
}

.anylinkmenucols .column{
float: left;
padding: 3px 8px;
margin-right: 5px;
background: #E0E0E0;
}

.anylinkmenucols .column ul{
margin: 0;
padding: 0;
list-style-type: none;
}



/* ######### class for shadow DIV ######### */


.anylinkshadow{ /*CSS for shadow. Keep this as is */
position: absolute;
left: 0;
top: 0;
z-index: 99; /*zIndex for shadow*/
background: black;
visibility: hidden;

/* rounded borders, makes things less pointy and dangerous: */
-moz-border-radius: 15px;
border-radius: 15px;

}