/* Misc things */
.jsfooter {font-size:10px;background-color:#000000;color:#FFFFFF;} /* Controls the Javascript footer attributes */

/* No bullets on lists */
/*ul {list-style-type:none;}*/

/* No border for images */
img {border:0;}

/* Rounded images under the class rounded: */
img.rounded { border:0; border-radius: 15px 15px 15px 15px; }

/* Rounded images w/drop shadow, class roundeddropshadow: */
img.roundeddropshadow { border:0; border-radius: 15px 15px 15px 15px;
/* Drop shadow stuff: */
 box-shadow: 3px 3px 4px #999; /* CSS3 FF/Chrome/Safari */
 /* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')"; */ /* IE 8 (not supporting this anymore) */
 /* : progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');*/ /* IE 5.5 - 7 (Not supporting this anymore) */   
 }
 
.gray {font-weight:bold; color:#999;}

h1 { color:#ff6633; }
h2 { color:#ff6633; }
h3 { color:#ff6633; }

/*Quick way to make stuff centered, code is for a div id:*/
#centeredcontent {text-align:center;}

/*Make the horizontal rules pretty*/
hr {color:#ff6633; background-color:#ff6633; height:3px; }

/* Black Links! */
a:link {color:#ff6633; text-decoration:none;}
a:visited {color:#ff6633; text-decoration:none;}

/*These correlate to the menuanchorclass things for the menu bars:*/
a.menuanchorclass {color:#FF6633; text-decoration:none; text-transform:uppercase; font-weight:bold; font-size:12px;} /* Link 1 */
a.menuanchorclass2 {color:#FF6633; text-decoration:none; text-transform:uppercase; font-weight:bold; font-size:12px;} /* Link 2 */
a.menuanchorclass3 {color:#FF6633; text-decoration:none; text-transform:uppercase; font-weight:bold; font-size:12px;} /* Link 3 */
a.menuanchorclass4 {color:#FF6633; text-decoration:none; text-transform:uppercase; font-weight:bold; font-size:12px;} /* Link 4 */
a.menuanchorclass5 {color:#FF6633; text-decoration:none; text-transform:uppercase; font-weight:bold; font-size:12px;} /* Link 5 */
a.menuanchorclass6 {color:#FF6633; text-decoration:none; text-transform:uppercase; font-weight:bold; font-size:12px;} /* Link 6 */

/* Capstone bar links */
a.capstonebarlink:link {color:#FF6633; font-family: Helvetica, sans-serif; text-decoration:none;}
a.capstonebarlink:hover {color:#FF6633; font-family: Helvetica, sans-serif; text-decoration:none;}
a.capstonebarlink:visited {color:#FF6633; font-family: Helvetica, sans-serif; text-decoration:none;}
.capstonebarlinkcurrentpage {color:#999; font-family: Helvetica, sans-serif; font-weight:bold; text-decoration:none; border-top:solid #C03;}

/* Left navbar links bold when hovered over */
a.leftnavlink:link {color:#FFFFFF; text-decoration:none;}
a.leftnavlink:hover {color:#FFFFFF; font-weight:bold; text-decoration:none;}
a.leftnavlink:visited {color:#FFFFFF; text-decoration:none;}

/* Important links, same as above but different color: */
a.importantlink:link {color:#ff6633; text-decoration:none;}
a.importantlink:hover {color:#F00; font-weight:bold; text-decoration:none;}
a.importantlink:visited {color:#ff6633; text-decoration:none;}

/* for the navigation divs, centers stuff: */
.navdiv {text-align:center;}

#topnavbar { text-align:center; }

/* fancy shmancy unordered list: */
.leftborderedul { border-left:solid #ff6633 8px; } /* add the left border */
.studentorgulheader {list-style-type:none;} /* headers */
.moveitoverabit {text-indent:30px; list-style-position: inside;} /* primary bullets */
.subbullet {text-indent:50px; list-style-position: inside; list-style-type:square;} /* sub bullets */
.subsubbullet {text-indent:70px; list-style-position: inside; list-style-type:circle;} /* sub bullets */

/* End misc things */

/*==================================================================*/

/*The rest below are styles that are ordered logically based on the page structure:*/

body {
/* This is mainly gonna control the background image/color for the outermost part of the site */
	text-align: center;
/* IE6 uses this to center the layout in the browser window */
	background-color:#FFFFFF; /*outermost bg*/
	background-image:url(../images/fillerbg.png); /* Filler gradient background */
	background-repeat:repeat-x; /* Makes it repeat :P */
	background-position:center;
	background-attachment:fixed; /* no move on scroll */
}

#capstonebar { 
	background-color:#000000;
	padding-left:20px;
	margin-top: -21px;
	margin-left: -12px;
	margin-right: -12px;
	padding-top:1px;
	width:100%;
	}

#capstonebar_inner {
	text-align:left;
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px; }

#main_wrapper {
	/* This is the main box that envelopes everything else, this sets the master size */
	/* if this width is omitted the layout becomes liquid filling the whole window */
	width: 768px; /* master width */   
	margin-left: auto;
	margin-right: auto;
	/* reset the centering hack for IE6 on the body tag */
	text-align: left;
	background-color: #000000;
	border:solid #999; /* master page border */
	
	/* rounded borders, makes things less pointy and dangerous: */
	border-radius: 15px 15px 15px 15px;
	
}

#header {
	/* The topmost boxlike area */
	background-color: #000000;
	font-family:Arial, Helvetica, sans-serif;
	
	/* rounded borders: */
	border-radius: 15px 15px 15px 15px;
}

#header_inner {
/* create space between the box and the content */
	background-color: #000000;
	color:#000000;
	padding-bottom:8px; /* spacing between bottom of nav links and stuff below */ 
	
	/* rounded borders: */
	border-radius: 15px 15px 15px 15px;
}

#nav {
	width: 25%;         
	float: left;
	background-color: #000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	
	/* rounded borders: */
	border-radius: 15px 15px 15px 15px;

	/* Drop shadow stuff: */
 	box-shadow: 3px 3px 4px #999; /* CSS3 FF/Chrome/Safari */
	/* IE 8 (Not supporting this anymore) */
 	/* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')"; */
	/* IE 5.5 - 7 (Not supporting this anymore) */  
 	/* : progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999'); */
 
 	/* for making the left nav bar's drop shadow show over the content box: */
 	position:relative; /* Do not change this, changing this value to anything other than relative breaks the whole layout */
 	z-index:1;
}

#nav_inner {
/* create space between the box and the content */
	padding: 1em 2em;
	background-color:#000000;
	color:#FFFFFF;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	/*border-right: 3px solid #999;*/
	
	/* rounded borders: */
	border-radius: 15px 15px 15px 15px;
	/*position:fixed;*/ /*Enable if you want the left nav to stay with you as you scroll, its ugly though. */
	
}

#content {
	width: 75%;
	float: left; /*Change to "right" along with above position change if you want the left nav to stay with you as you scroll, its ugly though. */
	top: 0px;          
	background-color: #000000;
	color:#FFFFFF;
	
	/* rounded borders: */
	border-radius: 15px 15px 15px 15px;


	/* for making the left nav bar's drop shadow show over the content box [z-index of 0 [aka lower than nav's value of 1] sends it to back]: */
	position:relative; /* Do not change this, changing this value to anything other than relative breaks the whole layout */
	z-index:0;
}

#content_inner {
/* create space between the box and the the content */
	padding: 0 1em 1em 1.5em;
	background-color: #000000;
	/*background-image:url(../images/contentbg.png);*/
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	
	/* rounded borders: */
	border-radius: 15px 15px 15px 15px;
}

#footer {
	clear: both;
	/*padding: 0 1em 1em 1.5em;*/ /* Commenting this out makes it take up whole width, sorta prettier */
	background-color: #000000;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	
	/* rounded borders: */
	border-radius: 15px 15px 15px 15px;
}

#footer_inner {
/* create space between the box and the the content */
	padding: .5em 1em;
	text-align: left;
	background-color:#000000;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-align:center;
	
	/* rounded borders: */
	border-radius: 15px 15px 15px 15px;
}

#header_inner, #nav_inner, #content_inner {
/* clip oversize elements that would break the layout */
	overflow: hidden;
}